In [1]:
a=input("Enter the value you want: ")

Enter the value you want: 500

In [2]:
a

'500'

In [3]:
amt_to_withdraw=int(input("Enter the value you want: "))

Enter the value you want: 200

In [4]:
print(amt_to_withdraw)

100

In [4]:
amt_to_withdraw=eval(input("Enter the value you want: "))

Enter the value you want: 100

In [5]:
print(amt_to_withdraw)

100

In [6]:
num_got_out_of_25_in_exam = eval(input("Enter the number you have gout out of 25: "))

Enter the number you have gout out of 25: 24.5

In [7]:
print(num_got_out_of_25_in_exam)

24.5

In [8]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [9]:
a=10
b=20
c=30
print(a,b,c,sep="---")

10---20---30

In [10]:
a=10
b=20
c=30
print(a)
print(b)
print(c)

10
20
30

In [11]:
a=10
b=20
c=30
print(a,end="*")
print(b,end="**")
print(c,end="***")

10*20**30***

In [12]:
first_name = input("My first name is: ")
last_name = input("My last name is: ")
print(f'My first name is {first_name} and my last name is {last_name}')

My first name is: Debarshi
My last name is: Bhattacharyya
My first name is Debarshi and my last name is Bhattacharyya

In [13]:
first_name = input("My first name is: ")
last_name = input("My last name is: ")
print("My first name is {} and my last name is {}".format(first_name,last_name))

My first name is: Debarshi
My last name is: Bhattacharyya
My first name is Debarshi and my last name is Bhattacharyya

In [14]:
name_of_person=input("Enter the first name of the person: ")
profession_of_person = input("Enter the profession of the person: ")
print(f'{name_of_person} is a good {profession_of_person}')

Enter the first name of the person: Sam
Enter the profession of the person: Doctor
Sam is a good Doctor

In [15]:
first_num=input("enter the first number : ")
second_num=input("enter the second number : ")
print("The first  number is {} and the second number is {}".format(first_num,second_num))

enter the first number : 10
enter the second number : 20
The first  number is 10 and the second number is 20

In [17]:
f_name = input("Enter 1st name: ")
l_name = input("Enter 2nd name: ")
print("The first name is {} and the last name is {}".format(f_name,l_name))

Enter 1st name: Samadrito
Enter 2nd name: Bhattacharyya
The first name is Samadrito and the last name is Bhattacharyya

In [18]:
a="python"
a[0]

'p'

In [19]:
print(a[1],a[2],a[3],a[4],a[5])

y t h o n

In [20]:
print(a[-1])

n

In [21]:
a[6]

IndexError: string index out of range

In [22]:
a="lionel messi"

In [23]:
#get lion as a substring
a[0:4:]

'lion'

In [24]:
print(a[0:4:])

lion

In [25]:
#get messi as a substring
print(a[7:12:])
print(a[7:12:1])
print(a[7::])

messi
messi
messi

In [26]:
print(a[7:12:])

messi

In [27]:
print(a[7::])

messi

In [29]:
#extract lion and messi using negative index
#to get messi
print(a[-5::1])

#to get lion
print(a[-12:-8:1])

messi
lion

In [30]:
#get substring ssem
#1st way
print(a[10:6:-1])
#2nd way
print(a[-2:-6:-1])

ssem
ssem

In [31]:
#get substring leno
print(a[5:1:-1])
print(a[-7:-11:-1])

leno
leno

In [32]:
#get substring mess
print(a[7:11:])
print(a[-5:-1:1])

mess
mess

In [33]:
#some other ways to get "mess" with mix and match of positive and negative indices
print(a[7:-1:1])
print(a[7:-1:])

mess
mess

In [34]:
#reverse the string
str1 = "python"
str1[::-1]

'nohtyp'

In [35]:
str2 = "lionel messi"
str2[::-1]

'issem lenoil'

In [36]:
#get the length of the string
str1 = "lionel messi"
print(len(str1))

str2 = "python"
print(len(str2))

12
6

In [37]:
#Prove string is immutable
str1 = "This is a python program"
print(str1[10:16:])
#now I try to assign some value to the part of the string, but I will get error
str1[10:16:] = 'java'

python

TypeError: 'str' object does not support item assignment

In [38]:
id(str1)

4440836096

In [39]:
str1 = "hgsjhsad"
id(str1)

4457179312

In [40]:
#String concatenation
str1 = "We are learning "
str2 = "python"
str3 = str1+str2
print(str3)

We are learning python

In [41]:
#String repeatition
str1 = "Hello "
print(str1*3)

Hello Hello Hello

In [42]:
#Membership operation

strr = "We are learning Python and we are enjoying it"
print("Python" in strr)
print("sdsdsdf" not in strr)
print("are " not in strr)
print("Java" in strr)

True
True
False
False

In [43]:
#Do some membership opration program
str1 = "Python is a very interesting language"
bool_val_to_str = str("Python" in str1)
print(f"It is {bool_val_to_str} that {str1}")

It is True that Python is a very interesting language

In [44]:
#Identity operation
a = "Python"
b = "Python"
print(id(a))
print(id(b))
print(a is b)
print(a is not b)

4390911080
4390911080
True
False

In [45]:
#Perform some more identity operation
print(a[0] is b[0])
print(a[0] is not b[1])

True
True

In [46]:
#String methods

str1 = "hello"
str1.upper()

'HELLO'

In [47]:
str1 = "HELLO"
str1.lower()

'hello'

In [48]:
str1 = "Hello"
str1.swapcase()

'hELLO'

In [49]:
str1 = "MITTLESTÄDT"
str1.casefold()

'mittlestädt'

In [50]:
str1 = "python is a great language to learn"
str1.capitalize()

'Python is a great language to learn'

In [51]:
str1 = "python is a great language to learn"
str1.title()

'Python Is A Great Language To Learn'

In [52]:
str1 = "Igloo"
print(str1.startswith("T"))
print(str1.startswith("I"))

False
True

In [53]:
str1 = "Java"
print(str1.endswith("a"))
print(str1.endswith("J"))

True
False

In [54]:
#How to check if a string contains either alphabet or number or both

#isalnum() is the fucntion for that

str1 = "Python123"
print(str1.isalnum())#True

str2 = "123"
print(str2.isalnum())#True

str3 = "asdddsd"
print(str3.isalnum())#True

str4 = "abc@123"
print(str4.isalnum())#False

True
True
True
False

In [55]:
#isalpha() function
str1 = "1234"
str2 = "abc"
str3 = "a123"
str4 = "abc#$"
print(str1.isalpha())
print(str2.isalpha())
print(str3.isalpha())
print(str4.isalpha())

False
True
False
False

In [56]:
#isnumeric function
str1 = "1234"
str2 = "abc@1234"
str3 = "a123"
str4 = "123@"
print(str1.isnumeric())
print(str2.isnumeric())
print(str3.isnumeric())
print(str4.isnumeric())

True
False
False
False

In [57]:
#isidentifier
str1 = "abc"
str2 = "123abc"
str3 = "%%"
str4 = "125"
str5 = "_123"

print(str1.isidentifier())
print(str2.isidentifier())
print(str3.isidentifier())
print(str4.isidentifier())
print(str5.isidentifier())

True
False
False
False
True

In [58]:
#isascii, ord, chr

str1 = "abc"
str2 = "123abc"
str3 = "%%"
str4 = "125"
str5 = "ßaâ"

print(str1.isascii())
print(str2.isascii())
print(str3.isascii())
print(str4.isascii())
print(str5.isascii())

#ord - it converts charcater to ASCII values
print(ord('A'))
print(ord('a'))

#chr - it converts ASCII values to characters
print(chr(65))
print(chr(90))
print(chr(97))
print(chr(122))

True
True
True
True
False
65
97
A
Z
a
z

In [59]:
#isupper - True if all chars are in uppercase
str1 = "ABC"
str2 = "AbC"
str3 = "abc"

print(str1.isupper())
print(str2.isupper())
print(str3.isupper())

True
False
False

In [60]:
#islower - True if all chars are in lowercase
str1 = "ABC"
str2 = "AbC"
str3 = "abc"

print(str1.islower())
print(str2.islower())
print(str3.islower())

False
False
True

In [61]:
#istitle() - True if all words are having 1st letter in Uppercase/in one word- all words are in Title case in a sentence
str1 = "Hello World"
str2 = "Samadrito is A Good Boy"
str3 = "I am learning Python"

print(str1.istitle())
print(str2.istitle())
print(str3.istitle())

True
False
False

In [62]:
#strip, #lstrip, #rstrip

#strip - It basically removes spaces or mentioned characters in input from both sides
str1 = "     Hello     "
print(str1.strip())

#In case of strip function we can also remove other characters by specifying them as input
str2 = "*********World*****"
print(str2.strip("*"))

#rstrip - it will remove unnecessary spaces or characters in the right side
str3 = "########Pablo Picasso########"
print(str3.rstrip("#"))

str4 = "    Heisenberg     "
print(str4.rstrip())


#lstrip - it will remove unnecessary spaces or characters in the right side
str5 = "########Pablo Picasso########"
print(str5.lstrip("#"))

str6 = "    Heisenberg "
print(str6.lstrip())

Hello
World
########Pablo Picasso
    Heisenberg
Pablo Picasso########
Heisenberg

In [112]:
#find - gives us index of the 1st occurrence of the character or a string we are searching
# it searches from left to right
# Syntax:  str.find(sub, start, end)

# Parameters: 
# sub: Substring that needs to be searched in the given string. 
# start (optional): Starting position where the substring needs to be checked within the string. 
# end (optional): The end position is the index of the last value for the specified range. It is excluded while checking. 
# Note: If start and end indexes are not provided then, by default it takes 0 and length-1 as starting and ending indexes where ending indexes are not included in our search.    
# Return:  Returns the lowest index of the substring if it is found in a given string. If it’s not found then it returns -1.    

str1 = "Debarshi loves to play cricket"
print(str1.find("l"))#9

str2 = "lDebarshi loves to play football"
print(str2.find("l"))#0

#try to find something that is not present
str3 = "Debarshi loves to play cricket"
print(str3.find("f"))#-1, f not present in str3 , doesn't throw error
print(str3.find("cricket"))#23
print(str3.find("football"))#-1, football not present in str3, , doesn't throw error

9
0
-1
23
-1

In [63]:
#rfind - it will give the index number of 1st occurrence of char or string from Right to left and returns +ve index
# Syntax:  str.rfind(sub, start, end)

# Parameters: 

# sub: It’s the substring that needs to be searched in the given string. 
# start: Starting position where the sub needs to be checked within the string. 
# end: Ending position where suffix needs to be checked within the string. 
# Note: If start and end indexes are not provided then, by default it takes 0 and length-1 as starting and ending indexes where ending indexes are not included in our search.

# Return:  Returns the right-most index of the substring if it is found in the given string; if not found, then it returns -1.

str1 = "Felix loves Football"
print(str1.rfind("F"))#12--returns positive index, returning the index of F in Football, not Felix as search is from R->L
print(str1.rfind("Cricket")), #-1, returns -1, as Cricket is not present

12
-1

(None,)

In [64]:
#index - is almost same as find- it also returns the index number of a char or string, searching from left to right
#but if any char or string is not found error is thrown
str1 = "Usman loves football"
print(str1.index("f"))#12
print(str1.index("football"))#12
print(str1.index("cricket"))#ValueError: substring not found

12
12

ValueError: substring not found

In [65]:
#rindex - it will give the positive index number of 1st occurrence of spcified character from right to left
#but if any char or string is not found error is thrown
str1 = "Usman loves football"
print(str1.rindex("l"))#19-index of the last l in football
print(str1.rindex("ll"))#18-index of the 2nd last l in football
print(str1.index("cricket"))#ValueError: substring not found

19
18

ValueError: substring not found

In [66]:
#ljust - left adjustment - input string will be at left - and at right chars will be added

txt = "Usman"
print(txt.ljust(30))
print(txt.ljust(30,"*"))

Usman
Usman*************************

In [67]:
#rjust - right adjustment - input string will be at right - and at left chars will be added
txt = "Debarshi"
print(txt.rjust(30))
print(txt.rjust(30,"&"))

                      Debarshi
&&&&&&&&&&&&&&&&&&&&&&Debarshi

In [68]:
#replace - replace one string with another
str1 = "Debarshi loves to play football"
print(str1.replace("football","cricket"))

Debarshi loves to play cricket

In [69]:
#count - it will give the count of a particular character or a substring in a string

str1 = "football"
print(str1.count("l"))
print(str1.count("ll"))

2
1

In [70]:
#split - a very important method for data cleansing and transformation
# it converts the string into a list
str1 = "Debarshi loves cricket"
lst = str1.split() #By default splitting character is space
print(lst)

str2 = "deb.baguiati@gamil.com"
lst2 = str2.split("@")
print(lst2)

str3 = "101,Deb,20000"
lst3 = str3.split(",")
print(lst3)

['Debarshi', 'loves', 'cricket']
['deb.baguiati', 'gamil.com']
['101', 'Deb', '20000']

In [71]:
#join - it converts a list into a string
# Syntax: separator_string.join(iterable)

# Parameters:

# Iterable – objects capable of returning their members one at a time. Some examples are List, Tuple, String, Dictionary, and Set
# Return Value: The join() method returns a string concatenated with the elements of iterable.

# Type Error: If the iterable contains any non-string values, it raises a TypeError exception.

lst = ['Debarshi', 'loves', 'cricket']
str1 = " ".join(lst)
print(str1)

lst1 = ['deb.baguiati', 'gamil.com']
str2 = "@".join(lst1)
print(str2)

lst2 = ['101', 'Deb', '20000']
str3 = ",".join(lst2)
print(str3)

str4 = "hello"
str5 = "-".join(str4)
print(str5)

num_vals = [1,2,3,4,5]
"*".join(num_vals)# Type Error: If the iterable contains any non-string values, it raises a TypeError exception.

Debarshi loves cricket
deb.baguiati@gamil.com
101,Deb,20000
h-e-l-l-o

TypeError: sequence item 0: expected str instance, int found

In [81]:
input_val = input("Enter either a character or a number or something else: ")
if all(((char>='a' and char <= 'z') or (char>='A' and char <= 'B')) for char in input_val):
    print("Alphabet")
elif (input_val.isnumeric() == True):
    print("Number")
elif (ascii(' ')==ascii(input_val)):
    print("Space")
else:
    print("Special character")

# The Python all() function returns true if all the elements of a given iterable (List, Dictionary, Tuple, set, etc.)
# are True otherwise it returns False. It also returns True if the iterable object is empty. 
# Sometimes while working on some code if we want to ensure that user has not entered a False value 
# then we use the all() function.

# Syntax: all( iterable )

# Iterable: It is an iterable object such as a dictionary,tuple,list,set,etc.
# Returns: boolean

Enter either a character or a number or something else: zs
Alphabet